.add-lab-test-form {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 30px;
    height: 80vh;
    background-color: #1d2634;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  
  .add-lab-test-form h2 {
    text-align: center;
    color: #090909;
    margin-top: 0;
    margin-bottom: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
   
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 3px;
    color: #34495e;
    font-weight: 600;
    text-align: left;
    font-size: 14px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    background-color: #f8f9fa;
    color: #495057;
    margin-bottom: 3px;
  }
  
  .form-group textarea {
    resize: none; /* Disable resizing */
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #007bff;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
  }
  
  .submit-button {
    width: 50%;
    padding: 15px;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .submit-button:hover {
    background-color: #282828;
    transform: translateY(-2px);
  }
  
  .submit-button:active {
    background-color: #0c0c0c;
    transform: translateY(1px);
  }
  
  .response{
    text-align: left;
    font-size: 22px;
    margin-bottom: 15px;
  }